.nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: rgba(0,0,0,.4) !important;
  border: 2px solid #01FAA9 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border: 2px solid #01FAA9 !important;
}

.nav-tabs{
  border: none !important;
}

.col-3{
  margin-right: -5px;
}

.logo img{
  width: 70%;
  margin: -22px 0 30px 5px;
  transition: 0.5s;
}

div#usuario, div#usuario a{
  width: 225px;
  margin: 2px 0 2px 0;
  padding: 5px 13px 6px 10px;
  font-weight: bold;
  color: #1E2326;
}

ul li + li img{
  vertical-align: bottom;
  width: 27px;
  height: 27px;
  background: white;
  border-radius: 100px;
  margin: 0 2px 0 -3px;
}

div#usuario a{
  border-radius: 100px;
  width: max-content;
}

div#usuario a, li{
  list-style: none;
}

div#usuario li{
  margin: 0 0 5px -25px;
  font-size: 20px;
  transition: 0.5s;
}

div#usuario li:nth-last-child(2){
  margin-bottom: 40px;
  padding-bottom: 45px; 
  border-bottom: 1px solid #1E2326;
  width: 210px;
}

li i{
  padding-right: 1px;
  vertical-align: text-bottom;
}

.nav-principal-mobile{
  display: none;
}

.btn-sair{
  display: none;
}

/*Oculta a logo moblile em desktop*/
.top-logo-mobile{
    display: none;
}

/*MEDIA--------------*/
@media (max-width: 770px){
  .container{
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: white !important;
      background-color: rgba(0,0,0,.3);
  }
  
  .nav-principal-mobile a{
    text-decoration: none !important;
  }
  
  .nav-principal{
    display: none;
  }
  
  /*Estilo nav mobile*/
  .nav-principal-mobile{
    border-top: 2px solid #01FAA9;
    display: block;
    position: fixed;
    background: #121212;
    filter: blur(8);
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 83px;
    box-shadow: 10px -3px 17px rgba(0,0,0,.4);
  }
  
  .buttons-mobile .perfil{
    text-decoration: none;
    padding: 9px 5.5px 8px 5.5px;
  }
  
  .btn-sair{
    display: inline;
  }
  
  .buttons-mobile .nav-link{
    vertical-align: middle;
    border-radius: 100px !important;
    margin-top: 0;
    display: inline;
  }
  
  .nav-principal-mobile li i{
    font-size: 26px;
    width: 10px;
    height: 10px;
    margin: 0px 10px 0 10px;
    padding: 6px 6px 6px 6px;
    color: white;
  }
  
  .nav-principal-mobile ul img{
    vertical-align: top;
    padding: 0px;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: white;
  }
  
  .nav-principal-mobile ul li{
    display: inline-block;
    padding: 0;
    margin: 0px 0 3px;
  }
  
  /*Logo mobile*/
  .top-logo-mobile{
    box-shadow: 10px -3px 17px rgba(0,0,0,.7);
    border-bottom: 2px solid #01FAA9;
    z-index: 100;
    background: #121212;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    padding: 0px;
    display: block;
    border-radius: 0;
  }
  
  .top-logo-mobile img{
    width: 110px;
    margin-top: -14px;
  }
  
  .top-logo-mobile li{
    text-align: center;
    display: block;
  }
  
  /*Titulos mobile*/
  .nav-principal-mobile ul li p{
    color: white;
    font-size: 11.5px;
    margin: 9px 5px 0 5px;
    line-height: 20px;
    letter-spacing: -0.2px;
  }
  
  .nav-principal-mobile ul{
    text-align: center;
    margin: 14px  0 0 -11%;
  } 
}

/*Remover visualização dos titulos*/
@media (max-width: 360px){
  .nav-principal-mobile ul li p{
    display: none;
  }
  
  .nav-principal-mobile{
    height: 65px;
  }
  
  .nav-principal-mobile li i{
    margin: 0 5px 0 5px;
  }
}

@media (max-height: 480px){
  div#usuario li{
    margin: 0 0 -2px -25px;
    font-size: 17px;
    transition: 0.5s;
  }
  .logo img{
    width: 55%;
    margin: -14px 0 40px 10px;
  }
  
  div#usuario li:nth-last-child(2){
    margin-bottom: 30px;
    padding-bottom: 30px; 
    border-bottom: 1px solid #DFDFDF;
    width: 170px;
  }
}

@media (max-width: 980px) and (max-height: 500px){
    div#usuario li{
    margin: 0 0 -2px -25px;
    font-size: 17px;
    transition: 0.5s;
  }
  .logo img{
    width: 55%;
    margin: -14px 0 40px 10px;
  }
  
  div#usuario li:nth-last-child(2){
    margin-bottom: 30px;
    padding-bottom: 30px; 
    border-bottom: 1px solid #DFDFDF;
    width: 170px;
  }
}