body{
  background: linear-gradient(white);
  background-attachment: fixed;
}

.capa-perfil img{
  display: flex;
  float: left;
  position: relative;
  top: 0;
  
  width: 100%;
  height: 220px;
  padding: 0;
  z-index: 0;
  padding: 0px;

  animation-name: zoom-in;
  animation-duration: 1s;
  opacity: 90%;
}

@keyframes zoom-in{
  from{
    background-size: 100%;
    background-position: center;
  }to{
    background-size: 107%;
    background-position: center;
  }
}

#modal-capa{
  transition: 0.3s;
  position: absolute;
  width: 189px;
  height: 38px;
  top: 5px;
  left: 20px;
  font-size: 35px;
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 6px 10px 6px 10px;
}

#modal-capa:hover{
  transition: 0.3s;
  background: rgba(0,0,0,0.7);
}

#modal-capa i{
  float: left;
}

#modal-capa p{
  font-size: 15px;
  margin-left: 32px;
  transition: 0.5s;
}

/*Efeito do carrossel*/
.carousel-inner{
  border-radius: 6px;
  margin-bottom: 25px;
  border: 1px solid #00FFAC;
}

/*topo alterar perfil*/
hr{
  background: #A1A1A1;
}

/*Estilo botão "Editar perfil"*/
button#modal-config{
  background:  #01FAA9;
  color:  #1B1E21;
  display: block;
  float: right;
  text-align: center;
  width: 23%;
  padding: 8px;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  margin: 1% 6% -5% 0;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

/*Estilo botão sair*/
.btn-sair{
  text-align: center;
  width: 23%;
  height: 41px;
  float: left;
  border-radius: 100px;
  background-color: #01FAA9;
  padding: 8px;
  margin: 4px 0 0 20px;
  color: #1B1E21;
  font-weight: bold;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.name-user .btn-sair{
  text-decoration: none;
}

.btn-sair i{
  vertical-align: bottom;
  margin-right: 3px;
}

#title_descricao{
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: -25px 0 0 10px;
}

#text-descricao{
  padding: 10px;
  text-align: justify;
}

/*Estilo 'caso não tiver descrição'*/
div#box-add-desc{
  padding:  0 20px 0 20px;
}

div#box-add-desc p a{
  color: #01FAA9;
  font-weight: bold;
}

div#box-add-desc #principal-text{
  font-size: 24px;
  margin-top: -10px;
  line-height: 30px;
}

div#box-add-desc span.info{
  font-size: 36px;
  margin-right: 10px;
  float: left;
}

/*texto 'dicas importantes'*/
div#box-add-desc #text-dics{
  font-size: 20px;
  margin-bottom: 0;
  color: #00DDEE;
  font-weight: bold;
}

div#box-add-desc p + p + p{
  font-size: 20px;
  line-height: 25px;
  margin: 3px 0 3px 0;
}

div#box-add-desc p span{
  font-size: 20px;
  margin-right: 7px;
  color: #00DDEE;
  vertical-align: text-bottom;
}

.carousel-inner{
  border-radius: 6px;
}

div.card.info-user{
  margin-top: 40%;
}

.name-user p#name{
  font-size: 240%;
  margin: 15% 0 0 0;
  text-align: center;
}

.user-top{
  margin-top: -30px;
}

.user-top p{
  text-align: center;
}

.user-top img{
  border-radius: 100px;
  width: 160px;
  height: 160px;
  margin: -80px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  background: white;
}

i.foto-icon{
  position: absolute;
  font-size: 300%;
  margin: -7px 0 0 -24.8px;
  opacity: 00%;
  transition: 0.5s;
}

i:hover{
  transition: 0.5s;
  opacity: 100%;
}

div.card{
  position: relative;
  color: white;
  margin: 20px 0 20px 0;
  background-color: #1E2326;
  border-radius: 5px;
  outline: none;
}

#text-qtde{
  cursor: pointer;
}

/*MEDIA*/
@media (max-width: 1200px){
  .user-top img{
    margin: -60px;
    width: 120px;
    height: 120px;
  }
  .btn-sair i{
    font-size: 19px;
  }
  .btn-sair{
    font-size: 14px;
    width: 77px;
    height: 37px;
  }
  .name-user p#name{
    font-size: 1.6em;
    margin-top:60px;
  }
  button#modal-config{
    font-size: 13px;
    width: 90px;
  }
  div#box-add-desc #principal-text{
    font-size: 1.3em;
    line-height: 22px;
    margin-top: -8px;
  }
}

@media (max-width: 770px){
  .user-top img{
    border-radius: 100px;
    width: 110px;
    height: 110px;
    margin: -80px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.3);
    background: white;
  }
  
  .carousel-inner{
    margin-bottom: 85px;
  }
  
  div.modal-dialog{
    margin-bottom: 80px;
  }
  
  button#modal-config{
    font-size: 14px;
    width: 100px;
  }
  
  .btn-sair{
    font-size: 14px;
    width: 100px;
    height: 37px;
  }
  
  .btn-sair i{
    font-size: 21px;
  }
  
  i.foto-icon{ 
    text-align: center;
    border-radius: 100px;
    margin: -1.5% 13% 0 1.2%;
    font-size: 270%;
  }
  
  .name-user p#name{
    font-size: 2.0em;
  }
  
  .card-footer .text-coment{
    resize: none;
    width: 52%;
    border-radius: 100px;
    font-size: 15px;
    float: left;
  }
  
  /*Estilo texto adicione descricao*/
  div#box-add-desc #principal-text{
    font-size: 1.1em;
    line-height: 22px;
    margin-top: -8px;
  }
  
  div#box-add-desc span.info{
    font-size: 26px;
    margin-right: 7px;
    float: left;
  }

    div#box-add-desc p + p + p{
    font-size: 15.3px;
    margin: 0;
  }

  div#box-add-desc p span{
    font-size: 18px;
  }
  
  div#box-add-desc #text-dics{
  font-size: 16.5px;
  }
}