body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#2C2C50 30%, #0C0E1C);
    background-attachment: fixed;
}

#ajust-top{
  margin-top: 94px;
}

.blocos-principal{
  padding: 0;
  margin: 0;
  background: #46465E;
  border-radius: 7px;
}

/*Botao voltar*/
#btn-voltar{
  position: absolute;
  left: 0;
  margin: -3px 0 0 0;
  background: none;
  border: 0;
  color: white;
}

#btn-voltar span{
  vertical-align: text-top;
  margin: -1px -5px 0 0;
}

/*Estilo do topo*/
#bloco-topo{
  color: white;
  padding: 15px;
  height: 200px;
  background: linear-gradient(#004375, #002D4E) no-repeat;
  border-radius: 7px;
}

#bloco-topo img{
  margin: 40px 15px 0 0;
  float: left;
  width: 85px;
  border-radius: 100px; 
}

#bloco-topo p#txt-cliente{
  margin: 45px 0 0 0;
  color: #eee;
  font-size: 17px;
}

#bloco-topo h2#nome{
  font-weight: bold;
}

/*Box enviar arquivos*/
#bloco-topo #arquivo{
  cursor: pointer;
  padding-top: 45px;
  border: 1px solid white;
  border-radius: 10px;
  background: #2B2B2B;
  width: 100%;
  height: 154px;
}

#bloco-topo #arquivo span{
  font-size: 55px;
}

#bloco-topo #arquivo p{
  text-align: center;
}

/*estilo "observações"*/
#block-obs{
  color: white;
  padding: 15px;
}

#block-obs p{
  font-weight: bold;
  color: #ddd;
  margin-top: 15px;
}

#block-obs span{
  padding: 0;
  vertical-align: middle;
  color: #FFA114;
  transform: rotateX(200deg);
  -webkit-transform: rotateX(-190deg);
  font-size: 35px;
}

#block-obs1 .col-1, #block-obs2 .col-1{
  padding: 0 0 0 0;
  margin-left: -4px;
}

#block-obs1 label, #block-obs2 label{
  padding: 10px;
  background: #232323;
  border-radius: 5px;
  border: 1px solid #FFA114;
  font-size: 17px;
  margin-left: 10px; 
}

/*Estilo descrição do projeto*/
#block-descricao{
  color:white;
  padding: 10px;
}

#block-descricao p{
  font-weight: bold;
}

#box-principal{
  box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
}

#box-principal label{
  border-radius: 7px 7px 0 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  background: #6E6E6E;
  font-weight: bold;
  font-size: 17px;
}

#box-principal #text{
  background: #232323;
  margin: 0 0 20px 0;
  padding: 10px;
  border-radius: 0 0 7px 7px;
  font-size: 18px;
}

@media (max-width: 900px){
  #ajust-top{
    margin-top: 30px;
  } 
  #bloco-topo{
    padding-top: 15px;
  }
  #bloco-topo img{
    width: 55px;
    margin-top: 48px;
    margin-left: -10px;
  }
  
  #bloco-topo h2#nome{
    font-size: 25px;
  }
}