body{
    margin: 0;
    padding: 0;
    background: #F6F6F6 !important;
    font-family: sans-serif;
}

#btn_postar, #btn_mypublics{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

.conteudo{
    width: 850px;
    margin: 30px auto;
}

h2{
    font-size: 15pt;
    font-family: Arial;
    color: blue;
    margin: 30px  0 20px 0;
}

ul li{
    background: #606060;
    display: inline-block;
    margin-right: 10px; 
    padding: 5px;
}
ul li,ul li img,ul li #baixar p{
    border-radius: 10px;
}

ul li img{
    width: 130px;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li #baixar p{
    text-align: center;
    padding: 5px 40px;
    background: #444;
}


