body{
    margin: 0;
    padding: 0;
}

/*Titulo*/
h1{
    font: normal 20pt Arial;
}

form{
    margin: 0 auto;
    width: 600px;
}

p{
    display: block;
    font: Normal 13pt Arial;
    color: #555;
    border-bottom: 1px solid #606060;
}

a{
    text-decoration: none;
    color: brown;
}

#confirm{
    text-align: center;
    border: none;
}