/*Estilo - Recuperar senha*/
body{
  padding: 0;
  margin: 0;
  background: linear-gradient(#1E2326 20%, #161B1D 90%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body img{
  position: absolute;
  width: 140px;
  top: 12px;
  left: 22px;
  z-index: 10000;
}

label{
  position: absolute;
  top: 3.6px;
  left: 172px;
  z-index: 10000;
  font-size: 33px;
  color: #606060;
  font-weight: bold;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div .box-enviar-email h3{
  margin-top: 5px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #303030;
}

div .box-enviar-email h5{
  font-size: 15px;
  text-align: left;
  color: #707070;
  margin: -7px 0 0 0;
}

div .box-enviar-email #text-rec{
  margin: 12px 0 -50px 0;
}

div .box-enviar-email p#txt-email{
  margin: 0px 0 6px 0;
  text-align: left;
  font-weight: bold;
  color: #303030;
}

#recuperar div .box-enviar-email form #text_help{
  font-size: 12px;
  margin: -10px 0 0 0;
  color: #606060;
}

#recuperar .box-form{
  position: relative;
  z-index: 5;
  border-top: 5px solid #004258;
  border-radius: 10px;
  margin: -20px 0 0 0;
  padding: 8px 0px 5px 0px;
  width: 360px;
  height: 287px;

  background: #F2F2F2;
  box-shadow: 0px 0px 15px rgba(0,0,0,.2);
}

.box-enviar-email span{
  position: absolute;
  right: 11px;
  top: 19px;
  font-size: 30px;
}

#recuperar form input{
  margin: 0 0 11px 0;
  box-shadow: none;
}

#recuperar #email:focus{
  border: 1px solid #004258;
}

#recuperar form input:hover{
  box-shadow: none;
}

#recuperar form .form-control{
  height: 43px;
  border: 0;
  background: #D5D5D5;
  border-radius: 7px;
}

#recuperar form .btn-primary{
  height: 43px;
  margin: 20px 0 0 0;
  background: #004258;
  border: 0;
  border-radius: 7px;
}

#recuperar form div{
  margin-top: 50px;
}

/*Modal erro - recuperar*/
#error .modal-body a{
  text-decoration: none;
  color: #FFEF5A;
}

#error .modal-body a:hover{
  color: #FFBA1A;
}

/*Estilo - Verificar usuário*/
#verify .box-form{
  position: relative;
  z-index: 5;
  border-top: 5px solid #FF4E00;
  border-radius: 10px;
  margin: -20px 0 0 0;
  padding: 8px 0px 5px 0px;
  width: 395px;
  height: 387px;

  background: #F2F2F2;
  box-shadow: 0px 0px 15px rgba(0,0,0,.2);
}

#verify .box-form p#text_help{
  margin: 21px 0 13px 0;
  background: #e5e5e5;
  padding: 10px;
  border-radius: 10px;
  line-height: 17px ;
}

#verify .box-form form div{
  margin: 10px 0 0 0;
}

#verify form .form-control:focus{
  box-shadow: none;
  border: 1px solid black;
}

#verify form .btn-primary{
  height: 43px;
  margin: 15px 0 0 0;
  background: #FF4E00;
  border: 0;
  border-radius: 7px;
  font-weight: bold;
}

#verify form .float-left{
  margin: 0;
  padding: 0 7px 0 0;
}

#verify form .float-right{
  margin: 0px;
  padding: 0 0 0 5px;
}

/*Estilo Alterar Senha------------*/
#updatePassword .box-form{
  z-index: 5;
  border-top: 5px solid #FF4E00;
  border-radius: 10px;
  margin: -20px 0 0 0;
  padding: 8px 0px 5px 0px;
  width: 395px;
  height: 387px;

  background: #F2F2F2;
  box-shadow: 0px 0px 15px rgba(0,0,0,.2);
}

#updatePassword .box-form p#text_help{
  margin: 21px 0 15px 0;
  background: #e5e5e5;
  padding: 10px;
  border-radius: 10px;
  line-height: 17px ;
}

#updatePassword .box-form form div{
  margin: 10px 0 0 0;
}

#updatePassword form .btn-primary{
  height: 43px;
  margin: 28px 0 0 0;
  background: #FF4E00;
  border: 0;
  border-radius: 7px;
  font-weight: bold;
}

#updatePassword form .btn-primary:hover{
  background-color: #FF3B00;
}

#updatePassword form .form-control:focus{
  box-shadow: none;
  border: 1px solid #606060;
}

#updatePassword form .float-left{
  margin: 0;
  padding: 0 7px 0 0;
}

#updatePassword form .float-right{
  margin: 0px;
  padding: 0 0 0 5px;
}

div .box-enviar-email p#txt-password{
  margin: 0px 0 6px 0;
  text-align: left;
  font-weight: bold;
  color: #303030;
  margin-top: 10px;
}

/*RODAPE PARA QUEM TEM*/
footer ul{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background: rgba(0,0,0,0.2);
  padding: 15px;
}

footer ul li{
  display: inline;
  margin: 0 15px 0 20px;
}

footer ul li a{
  text-decoration: none;
  color: #707070;
}

footer ul li a:hover{
  text-decoration: none;
  color: #909090;
}

/*MEDIA*/
@media (max-width: 500px){
   body img{
    position: absolute;
    left: 36%;
  }
  
  body label{
    left: 35%;
    margin-top: 30px;
  }
  
  /*Media recuperar*/
  #recuperar .box-form{
    margin: -30px 0 0 0;
    width: 92vw;
  }
  
  /*Media verificar*/
  #verify .box-form{
    margin: -30px 0 0 0;
    width: 92vw;
  }
}

@media (max-width: 740px) or (max-height: 400px){ 
  footer ul{
    z-index: 0;
    text-align: center;
  }
  
  footer ul li{
    text-align: left;
    display: block;
  }
  
  footer ul li{
    font-size: 15px;
  }
}

@media (max-height: 470px){  
  body img{
    width: 128px;
    left: 18%;
    z-index: 0;
  }
  
  body label{
    font-size: 29px;
    left: 52%;
    margin-top: 3px;
    z-index: 0;
  }
}