section#usuario{
  float: left;
  padding: 10px;
  width: 200px;
  height: 550px;
  margin-left: -5px;
  position: fixed;
  border-radius: 10px;
  background-color: #FCFCFC;
  border: 2px solid #135B76;
}

section#usuario a img{
  width: 50px;
  border-radius: 100px;
  margin-top: 30px;
}

section#usuario a label{
  text-decoration: none;
  float: right;
  margin: -33px 70px;
  color: black;
}

/*Estilo: botoes esquerdo*/
nav.options a{
  display: block;
  width: 150px;
  text-decoration: none;
  color: white;
  padding: 10px;
  background: #333;
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.5s;
}

nav.options a:hover{
  padding: 13px;
  transition: 0.5s;
}

nav{
  margin-top: 100px;
}