body{
  background-color: #eee;
  font-family: Arial; 
  margin: 95px auto;
}

div.conteudo{
  margin: 0 auto;
  width: 840px;
}

.user-top{
  display: block;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #606060;
}

.user-top img{
  width: 100px;
  border-radius: 100px;
}

session a{
  float: right;
  color: #087CD4;
  text-decoration: none;
}

/*Estilo botão apagar postagem*/
.delete_post{
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: #087CD4;
}

/*Inicio = Estilo das postagens*/
div#post{
  width: 565px;
  margin: 20px 0 0 0;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 10px 0px 15px 15px;
  background-color: #C0C0C0;
  float: right;
}

#postador{
  width: 30px;
  border-radius: 100px;
  margin-right: 10px;
}

.like, like a{
  border: 1px solid black;
  text-decoration: none;
  color: white;
  background-color: #606060;
  padding: 4px 6px;
  border-radius: 5px;
}

/*Estilo: comentario*/
#linha{
  width: 550px;
  margin: 20px 0 0 0;
}

textarea#coment{
  resize: none;
  width: 410px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid #606060;
  padding: 5px;
  margin: 0px 0 -7px 40px;
  font-family: Arial;
}

button#button_coment{
  border-radius: 100px;
  border: 1px solid #606060;
  height: 32px;
}

img#foto_coment_dev{
  border-radius: 100px;
  width: 30px;
  margin-bottom: -34px;
}
/*Fim - Estilo das postagens*/

